/* 우리다움 폰트 적용 */
@font-face {
    font-family: 'woori';
    src: url('../src/WooridaumL.ttf') format('truetype');
}

/* 컬러 변수 */
:root {
    --main-color: #253a71;
    --sub-color: #0067ac;
    --font-main-color: #222222;
    --font-sub-color: #5A5A5A;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'woori';
    
    /* Bold체 */
    /* font-weight: bold; */
}

.wrapper__right__bottom {
    width: 500px;
    height: 321px;

    /* 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* 전체 내부 여백 */
    padding: 20px 20px 0 20px;
}

/* 동의 */
.agreement {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* 외부 여백 */
    margin-bottom: 7px;
}

.agree__title {
    width: 100%;
    height: 21px;

    /* 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* 폰트 */
    font-size: 17px;
    font-weight: bold;

    margin-bottom: 16px;
}

/* 전체동의 체크박스 */
input#allAgreement {
    display: none;
}
input#allAgreement + label {
    cursor: pointer;
}
input#allAgreement + label > span {
    vertical-align: middle;
    padding-left: 5px;
}
input#allAgreement + label::before {
    width: 20px;
    height: 20px;

    content: "";
    display: inline-block;
    background-image: url('../src/img/checkbox-square.png');
    background-size: 20px 20px;
    vertical-align: middle;
}
input#allAgreement:checked + label::before {
    width: 20px;
    height: 20px;

    content: "";
    background-image: url('../src/img/checkbox-square-checked.png');
    background-size: 20px 20px;
}


.agree__content {
    height: 140px;

    display: flex;
    flex-direction: row;

    font-size: 13px;
}

.agree__content__child {
    width: 50%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--font-sub-color);
    color: var(--font-sub-color);
}

/* 개별동의 체크박스 */
input.agree_checkbox {
    display: none;
}
input.agree_checkbox + label {
    cursor: pointer;
}
input.agree_checkbox + label > span {
    vertical-align: middle;
    padding-left: 5px;
}
input.agree_checkbox + label::before {
    width: 20px;
    height: 20px;

    content: "";
    display: inline-block;
    background-image: url('../src/img/checkbox-circle.png');
    background-size: 20px 20px;
    vertical-align: middle;
}
input.agree_checkbox:checked + label::before {
    width: 20px;
    height: 20px;

    content: "";
    background-image: url('../src/img/checkbox-circle-checked.png');
    background-size: 20px 20px;
}

.agree__content__viewTerms {
    font-size: 13px;
    background-color: transparent;
    border: 1px solid var(--font-sub-color);
    margin-left: 3px;
    cursor: pointer;
}

.manual {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.manual__info {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
    border: none;

    font-size: 15px;
    font-weight: bold;
    color: var(--sub-color);
}

.manual__info img {
    width: 22px;
    height: 22px;
    padding-right: 5px;
}

.post__button {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.post__button button {
    height: 55px;
    font-size: 17px;
    font-weight: bold;
}

.post__button__left {
    width: 150px;
    height: 100%;

    background-color: #fff;
    border: none;
}

.post__button__right {
    width: 100%;
    height: 100%;

    background-color: var(--sub-color);
    border: none;
    color: #fff;
}