/* 컬러 변수 */
:root {
    --main-color: #253a71;
    --sub-color: #0067ac;
    --sub2-color: #f2f2f2;
    --font-main-color: #222222;
    --font-sub-color: #5A5A5A;
}

/*certification-header css*/
.certification-header {
    display: flex;
    justify-content: start;
    /*align-items: flex-start;*/
    align-items: center;
    /*padding: 15px 20px 13px;*/
    padding-left: 15px;
    height: 60px;
}

.certification-header img {
    width: 37px;
    height: 34px;
    filter: invert(51%) sepia(97%) saturate(1765%) hue-rotate(157deg) brightness(89%) contrast(101%);
    margin-right: 10px;
    /*margin-bottom: 20px;*/
}

.certification-header span {
    font-family: 'wooriB';
    font-size: 17px;
    font-weight: bolder;
    /*margin-top: 5px;*/
    /*margin-bottom: 20px;*/
}

/*section css*/
.app-icon-bg {
    height: 555px;
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around; */

    border-top-style: solid;
    border-top-color: var(--sub2-color);
    border-top-width: 1px;
}

.app-icon-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    padding: 0px;
}

.app-icon {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* .app-icon img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--sub2-color);
} */

.app-icon a {
    font-size: 13px;
    display: inline-block;
    padding-top: 5px;
}