/* 컬러 변수 */
:root {
    --main-color: #253a71;
    --sub-color: #0067ac;
    --sub2-color: #f2f2f2;
    --font-main-color: #222222;
    --font-sub-color: #5a5a5a;
  }
  

#modal{
    height: 810px;
    width: 404px;
    display: none;
    position: fixed;
}

.keyboard-modal{
    background-color: #fff;
    border: 1px solid;
    position: absolute;
    top: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.keyboard-modal-bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.keyboard-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.keyboard-information p{
    font-family: 'wooriB';
    font-size: 15px;
    display: flex;
    align-items: center;
}

.button-close img{
    height: 15px;
    width: 15px;
}

.securityKeyboard-button {
    font-weight: bolder;
    border: 1px solid;
    border-color: var(--sub2-color);
    height: 60px;
    width: 33%;
    display: inline-block;
    font-size: 15px;
}

.backspace-button {
    font-weight: bolder;
    border: 1px solid;
    border-color: var(--sub2-color);
    height: 60px;
    width: 33%;
    display: inline-block;
    font-size: 15px;
}